.analytics-content {
  padding: 50px;
  padding-top: 20px;
}

.analytics-content h2 {
  color: #000000;
  margin-bottom: 30px;
  font-size: 60px;
  font-family: 'Poppins', cursive;
  font-weight: bold;
  margin: 0;
  padding: 0;
}
