.taxes-content {
    padding: 50px;
  padding-top: 20px;
}

.taxes-content h2 {
    color: #000000;
  margin-bottom: 30px;
  font-size: 50px;
  font-family: 'Poppins', cursive;
  font-weight: bold;
  padding: 0;
  margin: 0;
}

