.website-content {
  margin: 0;
  padding: 50px;
  padding-top: 20px;
}

.website-content h2 {
  color: #000000;
  margin-bottom: 30px;
  font-size: 60px;
  font-family: 'Poppins', cursive;
  font-weight: bold;
  padding: 0;
  margin: 0;
}

.iphone-div {
  position: relative;
  /* background-color: red; */
  width: 340px;
  height: 705px;
}

.iphone-iframe-wrapper {
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 3;
}

.iphone {
  width: 316px;
  height: 686px;
  border-radius: 46px;
  border: none;
  background-color: rgb(255, 255, 255);
  
}

.iphone-frame {
  position: absolute;
  width: 100%;
}
