.shai {
    position: relative;
    width: 100%;
    height: 100vh;
    margin: 0;
}

.dashboard-menu {
    display: flex;
    position: absolute;
    justify-content: start;
    align-items: center;
    flex-direction: column;
    width: 20%;
    height: 100%;
    background: #0d0d0d;
    margin: 0;
    padding-top: 130px;
    /* box-shadow: rgba(0, 0, 0, 0.4) 0px 30px 90px; */
    z-index: 2;
}

.dash-img {
    position: absolute;
    top: 0;
    width: 100%;
    height: 100vh;
    z-index: 1;
    margin: 0;
}

.dashboard-button {
    all:unset;
    border-radius: 15px;
    /* background: linear-gradient(0deg, rgb(31 12 73) 0%, rgb(85 45 253) 100%); */
    font-size: 25px;
    width: 80%;
    height: 40px;
    margin: 10px;
    color: white;
    padding: 10px;
    text-align: center;
    font-family: 'Luckiest Guy';
    /* box-shadow: rgba(0, 0, 0, 0.2) 0px 60px 40px -7px; */
    transition: transform 0.2s ease-in-out;
}


.current {
    background: linear-gradient(0deg, rgb(31 12 73) 0%, rgb(85 45 253) 100%);
}

.dashboard-button:hover {
    cursor: pointer;
}